.navBarContainer{
    border: 1px solid red;
    height: 99vh;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--color-greyDark);
    
    img{
        margin: 1rem auto;
        display: block;
        border-radius: 100%;
    }

    .perfilNavBar{
        font-size: 0.8rem;
        white-space: nowrap;
        padding: 0 0.5rem;
    }

    .listNavBar{
        padding: 0.5rem;

        li{
            padding: 0.8rem 0.5rem;
            border-radius: 0.5rem;
        }

        li:hover{
            background-color: #fff;
            color: var(--color-greyDark);
        }
    }
}

.navBarContainer::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem */
}