.navBarContainer{
    width: 100vw;
    padding: 0.5rem 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey);

    .logoGreen{
        color: var(--color-green);
    }
}